/* 初期設定 */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* top-wrapper */
.top-wrapper {
  background-image: url(https://prog-8.com/images/html/advanced/top.png);
  background-size: cover;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding-top: 200px;
  text-align: center;
  color: white;
}

.container h1 {  
  font-size: 55px;
  letter-spacing: 5px;
  opacity: 0.7;
}

.container p {
  margin: 10px 0; 
  opacity: 0.7;
}

.signin {
  padding: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 100px;
  color: white;
  background-color: black;
}

.btn span {
  margin-right: 2px;
}

.new {
  background-color: darkgreen;
}